/* .market {
  display: flex;
  justify-content: space-evenly !important;
} */
.market {
  display: flex;
  flex-wrap: wrap;
}
.market .left {
  margin-right: 5px;
  width: 65% !important;
}
.market .right {
  display: flex;
  width: 34% !important;
}
.market .right .right-1 {
  margin-right: 7px;
  width: 50%;
}
.market .bottom {
  display: flex;
  justify-content: space-between;
}
.market .bottom .b-left {
  width: 82.3%;
}
.market .bottom .b-right {
  width: 17.2%;
}
